<h2>Create a New Survey Question</h2>
<br />

<%= form_for [@section,@question.becomes(Question)] do |f| -%>
  <%= render :partial => 'questions/form', :locals => { :f => f } %>
  <%= f.submit "Create" %>
<% end -%>

<%= link_to "Cancel", section_path(@section), :method => :get %>
