<h2>Reports</h2>
<div class="subhead">
  These are your surveys. Pick one to view its reports.
</div>

<% if @surveys.empty? %>
  <div class="module">
    <em>You don't have any current surveys.  You can add surveys by clicking 'Surveys' to the left, then clicking 'Create a survey' above.</em>
  </div>
<% else %>
  <table class="default">
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th class="action"><nobr>Last Updated</nobr></th>
      <th class="action">&nbsp;</th>
    </tr>
    <% @surveys.each do |survey| %>
      <tr>
        <td><%= link_to h(survey.title).nobr, survey_path(survey) %></td>
        <td><%=h survey.description %></td>
        <td><%=h survey.updated_at.strftime('%D') %></td>
        <td><%= link_to "View reports".nobr.html_safe, report_path(survey) %></td>
      </tr>
    <% end %>
  </table>
<% end %>